<div class="container-fluid">
	<div class="col-xs-3">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="#main">Home</a>
			</li>
			<li class="active">
				<a href="#meal">Add meal</a>
			</li>
			<li>
				<a href="#preferences">Preferences</a>
			</li>
			<li>
				<a href="#" ng-click="LogOut()">Logout</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-9">
		<h3>Enter data for meal</h3>
		<hr>
		<form name="calories" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label">Meal name</label>
				<div class="col-sm-7">
					<input type="name" ng-model="name" ng-minlength="3" ng-maxlength="45"  name="name" class="form-control" id="name" placeholder="Meal name" required>
				</div>
				<p class="help-block" ng-show="calories.name.$error.required  && !calories.name.$pristine">
					Meal name is required.
				</p>
				<p class="help-block" ng-show="calories.name.$error.minlength">
					Meal name to short.
				</p>
				<p class="help-block" ng-show="calories.name.$error.maxlength">
					Meal name to long.
				</p>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Comment</label>
				<div class="col-sm-7">
					<input type="memo" ng-model="memo" ng-minlength="3" name="memo" class="form-control" id="memo" placeholder="Comment" required>
				</div>
				<p class="help-block" ng-show="calories.memo.$error.required  && !calories.memo.$pristine">
					Comment is required.
				</p>
				<p class="help-block" ng-show="calories.memo.$error.minlength">
					Comment to short.
				</p>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Number of calories</label>
				<div class="col-sm-7">
					<input type="text" ng-minlength="1" ng-maxlength="6" name="input" ng-model="testcalories" name="testcalories" class="form-control" id="testcalories" placeholder="Number of calories" numbers-only="numbers-only" required>
				</div>
				<p class="help-block" ng-show="calories.testcalories.$error.minlength">
					Insert number of calories.
				</p>
				<p class="help-block" ng-show="calories.testcalories.$error.maxlength">
					Are you shure you eated that much?.
				</p>
			</div>
			<hr>
			<div class="form-group">
				<div>
					<div class="col-xs-5" style="display:inline-block; min-height:290px;">
						<p>
							Pick date:
						</p>
						<datepicker ng-model="datepicker" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
					</div>
					<div class="col-xs-3">
						<p>
							Pick time:
						</p>
						<timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
				</div>
				<div class="form-group">
					<button ng-hide="loading" ng-disabled="!calories.$valid" type="button" class="btn btn-primary btn-lg btn-block" ng-click="addMeals()" >
						Submit
					</button>

					<div ng-show="loading" class="col-sm-9" style="padding-top: 150px" us-spinner="{lines: 17,
					length: 20,
					width: 30,
					radius: 0,
					corners: 1,
					rotate: 0,
					direction: 1,
					color: '#428bca',
					speed: 1.1,
					trail: 61,
					shadow: false,
					hwaccel: false,
					className: 'spinner',
					zIndex: 2e9,
					top: '50%',
					left: '50%' }"></div>
				</div>
			</div>
		</form>
	</div>
</div>