<div class="jumbotron">
	<h1>Wellcome to Calories!</h1>
	<form class="form-horizontal" role="form" name="loginForm" novalidate>
		<div class="form-group">
			<label class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="username" ng-model="inputUsername" name="inputUsername" class="form-control" id="inputUsername" placeholder="Username" ng-minlength="3" ng-maxlength="45" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" ng-model="inputPassword" name="inputPassword" class="form-control" id="inputPassword" placeholder="Password"	ng-minlength="6" ng-maxlength="45" required>
			</div>
		</div>
		<div class="form-group">
			<button ng-hide="loading" ng-disabled="!loginForm.$valid" ng-click="Login()" type="button"  class="btn btn-primary btn-lg btn-block">
				Submit
			</button>
			<div ng-show="loading" class="col-sm-12" style="padding-top: 150px" us-spinner="{lines: 17,
			length: 20,
			width: 30,
			radius: 0,
			corners: 1,
			rotate: 0,
			direction: 1,
			color: '#428bca',
			speed: 1.1,
			trail: 61,
			shadow: false,
			hwaccel: false,
			className: 'spinner',
			zIndex: 2e9,
			top: '50%',
			left: '50%' }"></div>
		</div>

		<div>
			<p>
				{{errormessage}}
			</p>
		</div>
		<a ng-href="#register">Don't have account?</a>

		<div class="form-group">
			<p class="help-block" ng-show="loginForm.inputUsername.$error.required  && !loginForm.inputUsername.$pristine">
				Please insert username.
			</p>
			<p class="help-block" ng-show="loginForm.inputUsername.$error.minlength">
				Username to short.
			</p>
			<p class="help-block" ng-show="loginForm.inputUsername.$error.maxlength">
				Username to long.
			</p>
			<p class="help-block" ng-show="loginForm.inputPassword.$error.required  && !loginForm.inputPassword.$pristine">
				Please insert password.
			</p>
			<p class="help-block" ng-show="loginForm.inputPassword.$error.minlength">
				Password to short.
			</p>

		</div>

	</form>
</div>