<div class="container-fluid">
	<div class="col-xs-3">
		<ul class="nav nav-pills nav-stacked">
			<li class="active">
				<a href="#main">Home</a>
			</li>
			<li>
				<a href="#meal">Add meal</a>
			</li>
			<li>
				<a href="#preferences">Preferences</a>
			</li>
			<li>
				<a href="#" ng-click="LogOut()">Logout</a>
			</li>
		</ul>
	</div>
	<div ng-show="!noentries">
		<div>
			<div>
				<div class="bg-success col-md-9">
					<div class="col-md-4">
						<p>
							Pick date from:
						</p>
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datefrom" is-open="opened1" min-date="minDate1" max-date="dateto" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open1($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> </span>
						</p>
					</div>
					<p>
						Pick date to:
					</p>
					<div class="col-md-4">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateto" is-open="opened2" min-date="datefrom" max-date="" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open2($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> </span>
						</p>
					</div>
				</div>
				<div>
					<div class="col-md-3 bg-info">
						<p>
							Pick time from:
						</p>
						<timepicker ng-model="timeFrom" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
					<div class="col-md-3 bg-info">
						<p>
							Pick time to:
						</p>
						<timepicker ng-model="timeTo" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
					<div class="col-md-3 bg-warning" style="padding: 15px">
						<div>
							<button type="button" class="btn btn-primary" ng-click="GetEntriesByTime()" >
								Select
							</button>
						</div>
						<br />
						<div>
							<button type="button" class="btn btn-primary" ng-click="ResetToDefault()" >
								Reset
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="!notime">
			<div class="col-md-12">
				<div></div>
				<div ng-repeat="item in dataForPage">
					<div  ng:class="{true:'alert alert-success', false:'alert alert-danger'}[{{item[0].totalcalories}}<calorypreferences]" >
						<div>
							<p class="col-xs-2">
								Calory count:
							</p>
							<p class="col-xs-2">
								{{item[0].totalcalories}}
							</p>
							<div class="col-xs-3"></div>
							<p class="col-xs-1">
								Date:
							</p>
							<p class="col-xs-2">
								{{item[1].entry_date}}
							</p>
						</div>
						</br>
						<table class="table table-striped">
							<th class="col-xs-3">Meal</th>
							<th class="col-xs-3">Comment</th>
							<th class="col-xs-1">Calories</th>
							<th class="col-xs-1">Date</th>
							<th class="col-xs-1">Time</th>
							<tr ng-repeat="entry in item" ng-if="entry.totalcalories != ''">
								<td class="col-xs-3">{{entry.name}}</td>
								<td class="col-xs-3">{{entry.memo}}</td>
								<td class="col-xs-1">{{entry.calories}}</td>
								<td class="col-xs-1">{{entry.entry_date}}</td>
								<td class="col-xs-1">{{entry.entry_time}}</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
		<div ng-show="notime">
			<div class="col-md-12 bg-danger">
				<h1 style="text-align: center">No entries for specified time period!</h1>
				</br>
				<p class="help-block" style="text-align: center">
					There is no entries for time period you selected. Please select another one.
				</p>
			</div>
		</div>
	</div>
	<div ng-show="noentries">
		<div class="col-xs-9 bg-info">
			<h1  style="text-align: center">No entries in your list!</h1>
			</br>
			<p class="help-block"  style="text-align: center">
				If there are no entries in your list that only means that you just started to use our system!
			</p>
			</br>
			<p class="help-block"  style="text-align: center">
				Set your daily calories limit by selecting "Preferences" and changing the default value of 1500 calories.
			</p>
			</br>
			<p class="help-block"  style="text-align: center">
				Insert your first entry by selecting "Add meal" and fill up the form.
			</p>
		</div>
	</div>
</div>