<div class="container-fluid">
	<div class="col-xs-3">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="#main">Home</a>
			</li>
			<li>
				<a href="#meal">Add meal</a>
			</li>
			<li class="active">
				<a href="#preferences">Preferences</a>
			</li>
			<li>
				<a href="#" ng-click="LogOut()">Logout</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-9">
		<div class="jumbotron">
			<p>
				Your daily limit of calories is set to {{preferences}}
			</p>
			</br>
			<form name="calories" class="form-horizontal" role="form">
				<input type="text" ng-minlength="1" ng-maxlength="6" ng-model="caloriespreferences" name="caloriespreferences" numbers-only="numbers-only" required/>
				<button ng-disabled="!calories.$valid" ng-click="saveUserPreferences()" type="button"  class="btn">
					Submit
				</button>
			</form>
			</br>
			</br>
			<p>
				To change limit just insert numbers in text field and press submit
			</p>
		</div>
	</div>
</div>