<div class="jumbotron">
	<h1>Wellcome to Calories!</h1>
	<form class="form-horizontal" role="form" name="registerform" novalidate>
		<div class="form-group">
			<label class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="username" ng-model="inputUsername" name="inputUsername" class="form-control" id="inputUsername" placeholder="Username" ng-minlength="3" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" ng-model="inputPassword" name="inputPassword" class="form-control" id="inputPassword" placeholder="Password" equals="{{inputRepeatPassword}}" ng-minlength="3" required>
			</div>
		</div>
		<div class="form-group">
			<label for="inputRepeatPassword" class="col-sm-2 control-label">Repeat Password</label>
			<div class="col-sm-10">
				<input type="password" ng-model="inputRepeatPassword" name="inputRepeatPassword" class="form-control" id="inputRepeatPassword" placeholder="Repeat Password" ng-minlength="6" equals="{{inputPassword}}" required>
			</div>
		</div>
		<div>
			<p>
				{{errormessage}}
			</p>
		</div>
		<div class="form-group">
			<button ng-hide="loading" type="button" class="btn btn-primary btn-lg btn-block" ng-click="Register()" ng-disabled="registerform.$invalid" >
				Submit
			</button>
			<div ng-show="loading" class="col-sm-12" style="padding-top: 150px" us-spinner="{lines: 17,
			length: 20,
			width: 30,
			radius: 0,
			corners: 1,
			rotate: 0,
			direction: 1,
			color: '#428bca',
			speed: 1.1,
			trail: 61,
			shadow: false,
			hwaccel: false,
			className: 'spinner',
			zIndex: 2e9,
			top: '50%',
			left: '50%' }"></div>
		</div>
		<a ng-href="#login">Alredy have account?</a>

		<p ng-show="registerform.inputUsername.$invalid && !registerform.inputUsername.$pristine" class="help-block">
			You username is required.
		</p>
		<p ng-show="registerform.inputUsername.$error.minlength" class="help-block">
			Username is too short.
		</p>

		<p class="help-block" ng-show="registerform.inputPassword.$dirty && registerform.inputPassword.$error.minlength">
			Password needs to be at least six characters.
		</p>
		<p class="help-block" ng-show="registerform.inputPassword.$dirty && registerform.inputPassword.$error.$required">
			Please select password.
		</p>
		<p class="help-block" ng-show="registerform.inputRepeatPassword.$dirty && registerform.inputRepeatPassword.$error.equals">
			Password and Repeted password needs to match.
		</p>
	</form>
</div>