.header,
.footer {
    padding-left: 5px;
    padding-right: 5px;
}

/* Custom page header */

.header,.footer {
    background: rgba(0,80,150,0.3);
    border-radius: 0 !important;
}

/* Custom page footer */
.footer {
    padding-top:5px;
    color: rgba(0,80,150,0.9);
}

